<div class="home-intro">
    <div class="jumbo">👋 </div>
    <div class="home-sub-text">
    
           <p><h3>I'm Sam, I use this space to write about my life, hobbies, and occasionally work. Over the last year have dedicated most of my time here to self-improvement, through my yearly goals.</h3></p>

           <p>Since early 2021 I’ve spent an increasing amount of my spare time in the studio, practicing the art of ceramics and building my skills as a potter.</p>

           <p>I’ll write about some of my experiences here as I learn from others and increase my focus on my own pottery, and slowly but surely begin to showcase my own body of work.</p>
        </h3> 
    </div> 
</div>

